body {
    height: 95vh;
    width:  95;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(12, 121, 12);
}
footer {
    background-color: black;
    color: white;
}
footer .margin{
    width: 512px;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;

}